* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 900px;
    background-color: black;
    color: white;
    position: relative;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
.logo {
    position: relative;
    top: 5px;
}
.logo h3 {
    position: absolute;
    font-weight: 200;
    font-size: 14px;
    top: 35px;
    left: 15px;
}
.navbar ul {
    display: flex;
    gap: 25px;
    font-size: 14px;
}
.navbar ul a {
    color: white;
}
.icons {
    display: flex;
    gap: 25px;
    align-items: center;
}
.login {
    display: flex;
    gap: 13px;
    align-items: center;
}
.login a {
    color: red;
}
.shimg {
    position: absolute;
    top: 150px;
    left: 130px;
}
.main {
    width: 100%;
    height: 820px;
    text-align: center;
    padding-top: 125px;
}
.top {
    display: flex;
    align-items: center;
    gap: 50px;
    /* position: relative;
    left: 300px; 
    top: 100px; */
    margin-left: 250px;
}
.top h1 {
    font-size: 100px;
    font-weight: 500;
}
.logo2 {
    position: relative;
}
.logo2 h2 {
    position: absolute;
    top: 55px;
    left: 25px;
    font-weight: 200;
    font-size: 22px;
}
.center {
    /* position: relative;
    top: 100px;
    left: 60px; */
    margin-bottom: -100px;
}
.center h1 {
    font-size: 100px;
    font-weight: 500;
}
.bottom {
    width: 550px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 170px;
    gap: 40px;
}
.bottom p {
    width: 300px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}
.bottom button {
    width: 244px;
    height: 70px;
    background-color: #FF3333;
    color: white;
    border: none;
    font-size: 18px;
}
.h-footer {
    width: 100%;
    height: 151px;
    padding-top: 30px;
    padding-left: 25px;
}
.h-footer ul {
    width: 100%;
    display: flex;
    gap: 50px;
}
.h-footer li {
    width: 9%;
    color: rgba(0, 0, 0, 0.505);
    font-size: 19px;
}
#second {
    position: relative;
    top: 30px;
}
.section2 {
    width: 100%;
    height: 1400px;
    background-color: black;
}
.s2-header {
    width: 100%;
    height: 50%;
    position: relative;
    color: white;
    text-align: center;
    padding-top: 60px;
}
.bg-img {
    position: absolute;
    width: 100%;
}
.bg-img img {
    width: 100%;
}
.s2-header h1 {
    font-size: 110px;
    font-weight: 500;
}
#fp {
    width: 480px;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
}
.cub {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    gap: 50px;
}
.box {
    width: 319px;
    height: 282px;
    background-image: url(../img/section2/Rectangle\ 10.png);
    background-repeat: no-repeat;
}
.box-top {
    width: 100px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}
.box-top img {
    position: absolute;
    left: 7px;
}
.box-top h1 {
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 17px;
}
.box p {
    width: 270px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    font-weight: 400;
    font-size: 19px;
}
.s2-footer {
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
    position: relative;
    padding-top: 280px;
}
.s2-footer img {
    position: absolute;
    left: 200px;
    top: 170px;
}
.s2-footer p {
    width: 1000px;
    line-height: 65px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}
.s2-footer span {
    text-decoration: underline #FF3333;
}
.section2-footer {
    width: 100%;
    height: 550px;
    background-color: white;
    display: flex;
}
.left {
    width: 50%;
    padding-top: 150px;
    padding-left: 150px;
}
#h11 {
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 20px;
}
#h12 {
    font-size: 90px;
    font-weight: 100;
}
.right {
    width: 50%;
    padding-top: 80px;
    padding-left: 100px;
}
.right-box {
    width: 435px;
    height: 251px;
}
.right-box img {
    width: 100%;
}
.right p {
    width: 370px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    margin-top: 20px;
}
.section3 {
    width: 100%;
    height: 850px;
    background-color: black;
    color: white;
}
.s3-top {
    width: 1130px;
    height: 515px;
    margin: 0 auto;
    position: relative;
    padding-top: 150px;
}
.img1 {
    position: absolute;
    top: 0;
}
.img2 {
    position: absolute;
    top: 65px;
    left: 280px;
}
.s3-top h1 {
    width: 1200px;
    height: 143px;
    font-size: 120px;
    font-weight: 500;
}
#s3-fp {
    width: 330px;
    height: 62px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#s3-sp {
    width: 320px;
    height: 93px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    position: absolute;
    bottom: 40px;
    right: 0;
}
.s3-bottom {
    width: 100%;
    padding-top: 50px;
}
.s3-cub {
    width: 319px;
    height: 206px;
    border-radius: 8px;
    background-image: url(../img/section2/Rectangle\ 10.png);
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.3), inset 30px 30px 36px rgba(21, 21, 21, 0.5);
    padding-top: 30px;
}
.s3-role {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.s3-cub h3 {
    width: 170px;
    height: 58px;
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;
    margin: 0 auto;
}
.s3-cub p {
    width: 220px;
    margin: 0 auto;
    margin-top: 15px;
}
.s3-footer {
    width: 100%;
    height: 700px;
}
.s3-f-header {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 240px;
}
.s3-f-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.s3-f-header h1 {
    width: 384px;
    height: 143px;
    font-size: 120px;
    font-weight: 500;
    line-height: 143px;
}
.s3-f-header p {
    width: 510px;
    height: 95px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.s3-f-box {
    width: 250px;
    height: 320px;
    border-radius: 8px;
    border: 2px solid #FF3333;
    text-align: center;
}
.s3-f-b-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF3333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s3-f-box .img {
    width: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -45px;
}
.s3-f-box span {
    position: absolute;
    color: white;
}
.s3-f-box h3 {
    width: 86px;
    height: 65px;
    font-size: 50px;
    font-weight: 600;
    color: #FF3333;
    line-height: 130%;
    margin: 0 auto;
    margin-top: -15px;
}
.s3-f-box p {
    margin-top: 20px;
}