* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    max-width: 1600px;
    height: 100vh;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 30%;
    background-color: white;
    text-align: center;
    padding: 50px 10px;
    border-radius: 8px;
}
.card span {
    font-size: 80px;
    margin-bottom: 30px;
}
.card h1 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 150%;
}
/* 4k */
@media (max-width: 2561px) {
    .container {
        max-width: 100vw;
    }
    .card {
        width: 30%;
        background-color: white;
        text-align: center;
        padding: 150px 80px;
        border-radius: 8px;
    }
    .card span {
        font-size: 100px;
        margin-bottom: 50px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 180%;
    }
}
@media (max-width: 2110px) {
    .container {
        max-width: 100vw;
    }
    .card {
        width: 30%;
        background-color: white;
        text-align: center;
        padding: 100px 80px;
        border-radius: 8px;
    }
    .card span {
        font-size: 100px;
        margin-bottom: 50px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 180%;
    }
}
@media (max-width: 1910px) {
    .card {
        width: 30%;
        padding: 90px 60px;
        border-radius: 8px;
    }
    .card span {
        font-size: 100px;
        margin-bottom: 50px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 180%;
    }
}
@media (max-width: 1775px) {
    .card {
        width: 30%;
        padding: 70px 40px;
        border-radius: 8px;
    }
    .card span {
        font-size: 100px;
        margin-bottom: 50px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 150%;
    }
}
@media (max-width: 1642px) {
    .card {
        width: 30%;
        padding: 60px 30px;
        border-radius: 8px;
    }
    .card span {
        font-size: 100px;
        margin-bottom: 50px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 150%;
    }
}
@media (max-width: 1575px) {
    .card {
        width: 30%;
        padding: 50px 20px;
        border-radius: 8px;
    }
    .card span {
        font-size: 100px;
        margin-bottom: 40px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 130%;
    }
}
@media (max-width: 1507px) {
    .card {
        width: 32%;
        padding: 60px 20px;
        border-radius: 8px;
    }
    .card span {
        font-size: 90px;
        margin-bottom: 40px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 130%;
    }
}
/* laptop-l */
@media (max-width: 1441px) {
    .card {
        width: 40%;
        padding: 80px 60px;
        border-radius: 8px;
    }
    .card span {
        font-size: 90px;
        margin-bottom: 40px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 180%;
    }
}
@media (max-width: 1414px) {
    .card {
        width: 32%;
        padding: 60px 20px;
        border-radius: 8px;
    }
    .card span {
        font-size: 90px;
        margin-bottom: 40px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 130%;
    }
}
/* laptop */
@media (max-width: 1025px) {
    .card {
        width: 45%;
        padding: 60px 20px;
        border-radius: 8px;
    }
    .card span {
        font-size: 90px;
        margin-bottom: 40px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 130%;
    }
}
/* tablet */
@media (max-width: 769px) {
    .card {
        width: 60%;
        padding: 70px 10px;
        border-radius: 8px;
    }
    .card span {
        font-size: 90px;
        margin-bottom: 40px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 150%;
    }
}
/* mobile-l */
@media (max-width: 426px) {
    .card {
        width: 70%;
        padding: 40px 10px;
        border-radius: 8px;
    }
    .card span {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 170%;
        font-size: 20px;
    }
}
/* mobile-m */
@media (max-width: 376px) {
    .card {
        width: 70%;
        padding: 30px 10px;
        border-radius: 8px;
    }
    .card span {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 170%;
        font-size: 18px;
    }
}
/* mobile-s */
@media (max-width: 321px) {
    .card {
        width: 70%;
        padding: 30px 10px;
        border-radius: 8px;
    }
    .card span {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .card h1 {
        font-family: 'Josefin Sans', sans-serif;
        line-height: 170%;
        font-size: 15px;
    }
}